In [74]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [75]:
df = pd.read_csv('dataset\homeprices_m.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

# Applying data preprocessing here to solve the nullvalues.

In [76]:
df['age'].median()

18.0

In [77]:
count = 0
total = 0
for i in df['age']:
  total += i
  count+=1
print(total/count)

18.2

In [78]:
count = 0
total = 0
for i in df['bedrooms']:
  total += i
  count+=1
print(total/count)

nan

In [79]:
df['bedrooms'].median()

3.5

In [80]:
import math
median_bedrooms = math.floor(df['bedrooms'].median())
median_bedrooms

3

In [81]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [83]:
df['bedrooms'].fillna(median_bedrooms, inplace=True)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

# Applying Linear Regression from this point

In [84]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df['price'])

LinearRegression()

In [86]:
reg.coef_  # Y = m1(area) + m2(bedrooms) + m3(age) + c

# m is coefficients and c is intercept

array([   137.25, -26025.  ,  -6825.  ])

In [87]:
reg.intercept_

383725.0

# Calculating the price

In [90]:
# Reshape the input array to a 2D array
input_data = np.array([3000, 3, 40]).reshape(1, -1)

# Make the prediction
prediction = reg.predict(input_data)

print(prediction)

[444400.]

C:\Users\ASUS\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [93]:
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression


# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df[['area', 'bedrooms', 'age']], df['price'], test_size=0.2, random_state=42)

# Fit the Linear Regression model
reg = LinearRegression()
reg.fit(X_train, y_train)

# Make predictions on the test set
y_pred = reg.predict(X_test)

# Calculate Mean Squared Error
mse = mean_squared_error(y_test, y_pred)

print(f"Mean Squared Error: {mse}")

Mean Squared Error: 3600000000.0

# Excersise for predict salary based on experinces and scores for test and interviews

In [94]:
!pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py): started
  Building wheel for word2number (setup.py): finished with status 'done'
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5590 sha256=c9a19a60714e44756d4bfacc8af9afb8ff4635417d2f4e3d80fc7142e53cc726
  Stored in directory: c:\users\asus\appdata\local\pip\cache\wheels\cd\ef\ae\073b491b14d25e2efafcffca9e16b2ee6d114ec5c643ba4f06
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1