In [29]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [30]:
df = pd.read_csv('dataset\homeprices_m.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

# Applying data preprocessing here to solve the nullvalues.

In [31]:
df['age'].median()

18.0

In [32]:
count = 0
total = 0
for i in df['age']:
  total += i
  count+=1
print(total/count)

18.2

In [33]:
count = 0
total = 0
for i in df['bedrooms']:
  total += i
  count+=1
print(total/count)

nan

In [34]:
df['bedrooms'].median()

3.5

In [35]:
import math
median_bedrooms = math.floor(df['bedrooms'].median())
median_bedrooms

3

In [36]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [37]:
df['bedrooms'].fillna(median_bedrooms, inplace=True)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

# Applying Linear Regression from this point

In [38]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df['price'])

LinearRegression()

In [39]:
reg.coef_  # Y = m1(area) + m2(bedrooms) + m3(age) + c

# m is coefficients and c is intercept

array([   137.25, -26025.  ,  -6825.  ])

In [40]:
reg.intercept_

383725.0

# Calculating the price

In [41]:
# Reshape the input array to a 2D array
input_data = np.array([3000, 3, 40]).reshape(1, -1)

# Make the prediction
prediction = reg.predict(input_data)

print(prediction)

[444400.]

C:\Users\ASUS\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [42]:
predictions_all = reg.predict(df[['area', 'bedrooms', 'age']])
mse = mean_squared_error(df['price'], predictions_all)

print("Mean Squared Error:", mse)

Mean Squared Error: 288000000.0

# Exercisess for predict salary based on experinces and scores for test and interviews

In [43]:
!pip install word2number

Requirement already satisfied: word2number in c:\users\asus\anaconda3\lib\site-packages (1.1)